@model List<Order_Detail>

<table class="table table-striped">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Product.ProductName</td>
            <td style="text-align: right;">@item.Quantity</td>
            <td style="text-align: right;">@item.UnitPrice</td>
            <td style="text-align: right;">@(item.Quantity * item.UnitPrice)</td>
        </tr>
    }
    <tr>
        <td colspan="3" style="text-align: right;"><b>Importe Total</b></td>
        <td style="text-align: right;"><b>@Model.Sum(r => r.Quantity * r.UnitPrice)</b></td>
    </tr>
</table>